*{
    margin: 0;
    padding: 0;
}
body{
    background-image:linear-gradient(rgba(4,9,30,0.4),rgba(4,9,30,0.4)),url(background.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
}
nav {
    display: flex;
    padding-left: 5%;
    background-color: #389F50;
}
nav ul{
    padding-right: 12%;
    /* font-size: 20px; */
    text-decoration: none;
    list-style: none;
    padding-left: 5%;
}
nav ul li a {
    text-decoration: none;
    font-size: 30px;
    color: black;
}
#logo {
    font-size: 48px;
    background-color: #274F75;
    height: 80px;
    justify-content: center;
    padding-top: 20px;
    padding-left: 10px;
    color: white;
}
#logo a{
    text-decoration: none;
    color: white;
}
#info{
    float: right;
    font-size: 20px;
    /* text-align: right; */
}
.maintext{
    font-size: 40px;
    color: white;
    margin-left: 13%;
    padding-top: 13%;
}
#button{
    font-size: 30px;
    border: none;
    background-color: red;
    color: white;
    width: 13%;
    margin-left: 13%;
}
#button a{
    text-decoration: none;
    list-style: none;
    color: white;
}
#click{
    display: none;
}
label{
    display: none;
}
@media (max-width:700px) {
    #info{
        float: left;
        font-size: 17px;
    }

    body{
        background-image:linear-gradient(rgba(4,9,30,0.4),rgba(4,9,30,0.4)),url(background.png);
        background-size: cover;
        background-position-y: 70px;
    }
    nav ul{
        font-size: 20px;
        padding-left: 30%;
        padding-top: 10%;
        padding-bottom: 5%;
    }
    nav ul li a{
        padding-left: 0%;
        padding-right: 0%;
        color: white;
    }
    nav{
        height: 100%;
        width: 100%;
        display: block;
        padding-left: 0%;
        padding-right: 0%;
        position: absolute;
        background-color: #274F75;
        left: -100%;
        transition: 0.5s;
    }
    #click:checked~nav{
        left: 0%;
    }
    #logo{
        font-size: 35px;
    }
    label{
        display: block;
        color: white;
        font-size: 15px;
        margin-left: 295px;
        margin-top: 50px;
        position: absolute;
    }
    .maintext{
        font-size: 25px;
        margin-left: 7%;
        margin-top: 20%;
    }
    #button{
        margin-top: 20px;
        font-size: 20px;
        width: 33%;
        height: 40px;
        border-radius: 5px;
    }
    #button a{
        text-decoration: none;
        list-style: none;
        color: white;
    }
}
